.first-group {
    position: relative;
    z-index: 4;
    &__main-title {
        background: url('../img/about/backgrounds/dark-texture.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 80px;
        height: 200px;
        text-align: center;
        h1 {
            font-weight: 700;
            font-size: 36px;
            line-height: 128.5%;
            margin: 0;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__location, &__work, &__products {
        position: relative;
        @include block-slide-wrap;
        &_slider {
            @include slider;
        }
        &_slide {
            @include zoom;
        }
        &_descr {
            @include slide-descr-start;
            p {
                @include slide-descr-p;

            }
            &-title {
                display: flex;
                justify-content: start;
                align-items: end;
                h2 {
                    @include  slide-descr-h2;
                }
            }
        }
    }
    &__andezit, &__certificate {
        @include block-slide-wrap;
        &_descr {
            @include slide-descr-end;
            margin-bottom: 80px;
            p {
                @include slide-descr-p;
            }
            &-title {
                display: flex;
                justify-content: end;
                align-items: end;
                padding-right: 20px;
                h2 {
                    @include slide-descr-h2;
                }
            }
        }
        &_slider {
            @include slider;
        }
        &_slide {
            @include zoom;
        }
    }
    &__certificate {
        &_descr {
            align-items: start;
            &-title {
                justify-content: start;
            }
        }
    }
    
}

.overlay, .overlay-2, .overlay-3, .overlay-4, .overlay-5 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: rgb(203, 203, 203), $alpha: 0.9);
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 10;

    &-slider {
        max-width: 1000px;
        height: 597px;
        margin: 0 auto;
        margin-top: 140px;
        opacity: 1;
        img {
            width: 100%;
            height: 597px;
        }
    }
    .slick-dots {
        top: 98%;
    }
    .slick-prev {
        left: -45px;
        &:before {
            font-size: 40px;
        }
    }
    .slick-next {
        &:before {
            font-size: 40px;
        }
    }
}

.slick-dots {
    top: 92%;
}
.slick-dots li button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
}
li.slick-active button {
    background: #C71D14;
}

