.not-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../img/about/backgrounds/red-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 150px 30px 170px;
  &__descr {
    width: 590px;
    height: 120px;
    font-weight: 500;
    font-size: 18px;
    line-height: 151%;
    color: #FFFFFF;
    span {
      font-weight: 800;
      text-transform: uppercase;
    }
  }
  &__images {
    display: flex;
    img {
      max-width: 340px;
      height: 250px;
    }
  }
}