.pre-footer {
  &__geografy {
    @include block-slide-wrap;
    img {
      max-width: 100%;
    }
    &_descr {
      @include slide-descr-start;
      p {
        @include slide-descr-p;
      }
      &-title {
        display: flex;
        justify-content: start;
        align-items: end;
        h2 {
          @include slide-descr-h2;
        }
      }
    }
  }
  &__video {
    max-width: 910px;
    height: 447px;
    margin: 0 auto;
    margin-top: 40px;
    img {
      width: 100%;
    }
  }
  &__slider {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  &__slide {
    width: 373px;
    img {
      width: 373px;
    }
  }
  .slick-prev{
    width: 20px;
    height: 40px;
    left: -50px;
    &:before {
      content: url("../img/about/pre-footer-slider/arrow-left.png");
      height: 40px;
    }
  }
  .slick-next{
    width: 20px;
    height: 40px;
    right: -20px;
    &:before {
      content: url("../img/about/pre-footer-slider/arrow-right.png");
      height: 40px;
    }
  }
}