.calc {
    display: none;
    position: absolute;
    width: 200rem;
    min-height: 134.429rem;
    top: 0;
    background-color: #ffffff;
    border: 1.2rem solid #4B5760;
    z-index: 100;
    margin: 0 auto;
    h2 {
        color: #ffffff;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 128.5%;
        margin: 0;
        text-transform: uppercase;
    }
    h3 {
        color: #000;
        text-align: center;
        font-size: 2.57143rem;
        font-weight: 700;
        line-height: 114%;
    }
    &-title {
        position: relative;
        width: 100%;
        height: 6.571rem;
        background: url(../img/backgrounds/dark-texture.jpg) center center/cover no-repeat;
        padding-top: 2rem;
        img {
            position: absolute;
            top: 10%;
            right: 1%;
            cursor: pointer;
            transition: 0.3s all;
        }
        img:hover {
            transform: scale(1.2);
        }
    }
    &-perimeter, &-height {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5.71429rem;
        background: rgba(102, 111, 124, 0.13);
        span {
            color: #30383E;
            font-size: 2rem;
            font-weight: 700;
            line-height: 140%;
            text-transform: uppercase;
            width: 20.14286rem;
        }
    }
    &-height {
        margin-top: 1rem;
    }
    #calc-perimeter, #calc-height, #calc-doorsQuantity, #calc-doorsWidth,
    #calc-doorsHeight, #calc-windowQuantity, #calc-windowWidth, #calc-windowHeight,
    #calc-semiWidth {
        width: 28.57143rem;
        height: 4.28571rem;
        background: #30383E;
        border: none;
        padding: 0 2rem 0 2rem;
        margin-left: 2rem;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 600;
        line-height: 140%;
    }
    &-descr {
        color: #000;
        text-align: center;
        font-size: 1.71429rem;
        font-weight: 400;
        line-height: 140%;
        width: 120rem;
        margin: 0 auto;
        margin-top: 1rem;
    }
    &-doorsQuantity, &-doorsWidth, &-doorsHeight, 
    &-windowQuantity, &-windowWidth, &-windowHeight, &-brickworkWidth,
    &-semiWidth {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5.71429rem;
        background: rgba(102, 111, 124, 0.13);
        margin-top: 1rem;
        span {
            color: #30383E;
            font-size: 2rem;
            font-weight: 700;
            line-height: 140%;
            text-transform: uppercase;
            width: 42rem;
        }
    }
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 15.71429rem;
        padding: 0 30.28rem 0 62.28rem;
        background: rgba(102, 111, 124, 0.13);
    }
    #calc-brick-photo {
        width: 14.72529rem;
        height: 14.28571rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-brick {
        display: flex;
        flex-direction: column;
        align-items: start;
        span {
            color: #30383E;
            font-size: 2rem;
            font-weight: 700;
            line-height: 140%;
            text-transform: uppercase;
        }
    }
    select {
        width: 85.71429rem;
        height: 4.28571rem;
        background: #30383E;
        padding: 0 1.4rem;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 600;
        line-height: 140%;
    }
    #calc-brickworkWidth {
        width: 28.57143rem;
        margin-left: 2rem;
    }
    #calc-sb {
        position: relative;
        display: block;
        width: 30.28571rem;
        height: 5.57143rem;
        border-radius: 15.28571rem;
        border: none;
        cursor: pointer;
        background: #AB231B;
        color: #ffffff;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 142.5%;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: 2rem;
        transition: 0.3s all;
    }
    #calc-sb:hover {
        background:#4b5760;
    }
    #calc-output {
        display: none;
        align-items: center;
        width: 62rem;
        height: 7rem;
        margin: 0 auto;
        margin-top: 2rem;
        span {
            color: #000;
            text-align: center;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 114%;
            width: 40rem;
            text-transform: uppercase;
        }
        p {
            color: #C71D14;
            text-align: right;
            font-size: 4rem;
            font-weight: 700;
            line-height: 114%;
            width: 20rem;
            text-transform: uppercase;
            margin-left: 2rem;
        }
    }
}

