.order__office_prescr {
    color: #666F7C;
    font-size: 2.28571rem;
    font-weight: 500;
    line-height: 138%;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.order__office_map-1-descr, .order__office_map-2-descr {
    width: 37.143rem;
    a {
        color: #000000;
    }
}

.contacts {
    padding-bottom: 6rem;
}