.products-list {
    &__promo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8.57rem;
        p {
            font-weight: 400;
            font-size: 2.57143rem;
            line-height: 139%;
            width: 100rem;
            color: #000000;
        }
        &-tools {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 92.143rem;
            button {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 42.85714rem;
                height: 9.42857rem;
                font-weight: 600;
                font-size: 2rem;
                line-height: 142.5%;
                color: #ffffff;
                text-transform: uppercase;
                border-radius: 47px;
                border: none;
                cursor: pointer;
                background: #952117;
                transition: 0.5s all;
                img {
                    width: 4.286rem;
                    height: 4.286rem;
                }
                &:hover {
                    background: #4B5760;
                }
            }
        }
        &_btn-calc {
            padding-left: 3rem;
            span {
                width: 30rem;
                text-align: left;
            }
        }
    }

    &__positions {
        margin-top: 6.14rem;
        margin-bottom: 6.14rem;
        &_wrapper {
            display: grid;
            grid-template-columns: repeat(4, minmax(40rem, 46.42857rem));
            grid-auto-rows: minmax(60rem, 67.14286rem);
            gap: 4.71rem;
            max-width: 200rem;
        }
        &_item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 5.71429rem 2.85714rem 4.28571rem 2.85714rem;
            border: 1px solid #666F7C;
            transition: 0.3s all;
            img {
                width: 34.28571rem;
                height: 34.28571rem;
            }
            a {
                font-weight: 700;
                font-size: 3.14286rem;
                line-height: 128.5%;
                text-transform: uppercase;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                color: #000000;
            }
            &-descr {
                font-size: 2.57143rem;
                font-family: Montserrat;
                font-weight: 400;
                line-height: 139%;
                text-align: center;
                color: #000000;
            }
            &:hover {
                border: 0.1rem solid #9e161a;
                border-radius: 1rem
            }
        }
        
    }
}

.calc {
    display: none;
    position: fixed;
    width: 200rem;
    height: 100vh;
    top: 0%;
    background-color: #ffffff;
    border: 1.2rem solid #4B5760;
    z-index: 100;
    h2 {
        color: #ffffff;
        text-align: center;
        font-size: 3.57143rem;
        font-weight: 700;
        line-height: 128.5%;
        text-transform: uppercase;
    }
    h3 {
        color: #000;
        text-align: center;
        font-size: 2.57143rem;
        font-weight: 700;
        line-height: 114%;
    }
    &-title {
        position: relative;
        width: 100%;
        height: 12.571rem;
        background: url(../img/backgrounds/dark-texture.jpg) center center/cover no-repeat;
        padding-top: 1rem;
        img {
            position: absolute;
            top: 10%;
            right: 1%;
            cursor: pointer;
        }
    }
    &-perimeter, &-height {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5.71429rem;
        background: rgba(102, 111, 124, 0.13);
        span {
            color: #30383E;
            font-size: 2rem;
            font-weight: 700;
            line-height: 140%;
            text-transform: uppercase;
            width: 20.14286rem;
        }
    }
    &-height {
        margin-top: 1rem;
    }
    #calc-perimeter, #calc-height, #calc-doorsQuantity, #calc-doorsWidth,
    #calc-doorsHeight, #calc-windowQuantity, #calc-windowWidth, #calc-windowHeight {
        width: 28.57143rem;
        height: 4.28571rem;
        background: #30383E;
        border: none;
        padding: 0 2rem 0 2rem;
        margin-left: 2rem;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 600;
        line-height: 140%;
    }
    &-descr {
        color: #000;
        text-align: center;
        font-size: 1.71429rem;
        font-weight: 400;
        line-height: 140%;
        width: 120rem;
        margin: 0 auto;
        margin-top: 1rem;
    }
    &-doorsQuantity, &-doorsWidth, &-doorsHeight, 
    &-windowQuantity, &-windowWidth, &-windowHeight {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5.71429rem;
        background: rgba(102, 111, 124, 0.13);
        margin-top: 1rem;
        span {
            color: #30383E;
            font-size: 2rem;
            font-weight: 700;
            line-height: 140%;
            text-transform: uppercase;
            width: 42rem;
        }
    }
}