@media (min-width: 1930px) and (max-width: 2560px) {
  .container {
    max-width: 1920px;
  }
  .promo {
    &__top-header {
      max-width: 1850px;
    }
    &__header {
      &_wrapper {
        max-width: 1920px;
      }
    }
  }

  .first-group {
    &__andezit {
      &_descr {
        &-title {
          padding-right: 280px;
        }
      }
    }
  }

  .overlay, .overlay-2, .overlay-3, .overlay-4, .overlay-5 {
    &-slider {
      margin-top: 200px;
    }
  }

  .pre-footer {
    &__slide {
      width: 269px;
      img {
        width: 269px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .first-group {
    .container {
      max-width: 1200px;
    }
    &__main-title {
      height: 130px;
      padding-top: 50px;
      h1 {
        font-size: 30px;
      }
    }
    &__location, &__work, &__products, &__andezit, &__certificate {
      &_descr {
        &-title {
          h2 {
            font-size: 25px;
            margin: 0;
            padding: 0;
          }
          img {
            display: none;
          }
        }
        p {
          font-size: 14px;
          margin-top: 20px;
        }
      }
    }
    &__andezit {
      &_descr {
        align-items: start;
        margin-bottom: 40px;
      }
    }
  }

  .slick-dots {
    top: 85%;
  }
  .slick-dots li button {
    width: 10px;
    height: 10px;
  }
  .not-block-main {
    .container {
      max-width: 100%;
    }
  }

  .not-block {
    padding: 30px 100px 30px 100px;
    max-width: 1400px;
    margin: 0 auto;
    &__images {
      img {
        max-width: 163px;
        height: 151px;
      }
    }
    &__descr {
      max-width: 700px;
      font-size: 16px;
      height: 100px;
    }
  }
  
  .banner {
    .container {
      max-width: 1200px;
    }
    &__icons {
      max-width: 300px;
      img {
        width: 127px;
        height: 116px;
      }
    }
    &__descr {
      max-width: 770px;
      font-size: 22px;
    }
  }
  
  .pre-footer {
    .container {
      max-width: 1200px;
    }
    &__geografy {
      img {
        max-width: 500px;
        height: 270px;
      }
      &_descr {
        &-title {
          h2 {
            font-size: 25px;
            margin: 0;
            padding: 0;
          }
          img {
            display: none;
          }
        }
        p {
          font-size: 14px;
          margin-top: 20px;
        }
      }
    }
    &__video {
      max-width: 900px;
      height: 440px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .first-group {
    .container {
      max-width: 900px;
    }
    &__products {
      align-items: start;
    }
    &__certificate {
      &_descr {
        margin-bottom: 40px;
      }
    }

    .overlay, .overlay-2, .overlay-3, .overlay-4, .overlay-5 {
      &-slider {
        max-width: 720px;
        margin-top: 200px;
        img {
          height: 430px;
        }
      }
      .slick-prev, .slick-next {
        top: 35%;
      }
      .slick-dots {
        top: 70%;
      }
    }
  }
  
  .banner {
    .container {
      max-width: 900px;
    }
    &__descr {
      max-width: 470px;
    }
  }
  
  .pre-footer {
    .container {
      max-width: 900px;
    }
    &__slide {
      width: 280px;
      img {
        width: 280px;
      }
    }
    .slick-prev {
      left: -35px;
    }
    .slick-next {
      right: -10px;
    }
  }
}

@media screen and (max-width: 720px) {
  .first-group {
    .container {
      max-width: 660px;
    }
    &__main-title {
      height: 100px;
      padding-top: 35px;
      h1 {
        font-size: 25px;
      }
    }
    &__location {
      flex-direction: column-reverse;
    }
    &__andezit {
      &_descr {
        margin-bottom: 0;
      }
    }
    &__work {
      flex-direction: column-reverse;
    }
    &__products {
      flex-direction: column-reverse;
    }
    &__certificate {
      &_descr {
        margin-bottom: 0;
      }
    }

    .overlay, .overlay-2, .overlay-3, .overlay-4, .overlay-5 {
      &-slider {
        max-width: 600px;
        height: 300px;
        img {
          height: 300px;
        }
      }
      .slick-dots {
        top: 88%;
      }
      .slick-prev, .slick-next {
        &:before {
          font-size: 60px;
        }
      }
      .slick-prev {
        top: 45%;
        left: -55px;
      }
      .slick-next {
        top: 45%;
        right: -15px;
      }
    }
  }
  .slick-dots {
    top: 88%;
  }
  
  .not-block {
    align-items: start;
    padding: 30px;
    &__descr {
      font-size: 14px;
    }
  }
  
  .banner {
    margin-top: 20px;
    &__descr {
      max-width: 315px;
      font-size: 18px;
    }
  }

  .pre-footer {
    &__geografy {
      flex-direction: column-reverse;
    }
    &__video {
      max-width: 660px;
      height: 330px;
    }
    &__slider {
      max-width: 600px;
    }
    &__slide {
      width: 188px;
      img {
        width: 188px;
      }
    }
    .slick-next {
      right: -20px;
    }
  }
}