@media (min-width: 1930px) and (max-width: 2560px) {
  .container {
    max-width: 1920px;
  }
  .promo {
    &__top-header {
      max-width: 1850px;
    }
    &__header {
      &_wrapper {
        max-width: 1920px;
      }
    }
  }

  .first-group {
    &__andezit {
      &_descr {
        &-title {
          padding-right: 280px;
        }
      }
    }
  }

  .overlay, .overlay-2, .overlay-3, .overlay-4, .overlay-5 {
    &-slider {
      margin-top: 200px;
    }
  }

  .pre-footer {
    &__slide {
      width: 269px;
      img {
        width: 269px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .first-group {
    .container {
      max-width: 1200px;
    }
    &__main-title {
      height: 130px;
      padding-top: 50px;
      h1 {
        font-size: 30px;
      }
    }
    &__location, &__work, &__products, &__andezit, &__certificate {
      &_descr {
        &-title {
          h2 {
            font-size: 25px;
            margin: 0;
            padding: 0;
          }
          img {
            display: none;
          }
        }
        p {
          font-size: 14px;
          margin-top: 20px;
        }
      }
    }
    &__andezit {
      &_descr {
        align-items: start;
        margin-bottom: 40px;
      }
    }
  }

  .slick-dots {
    top: 85%;
  }
  .slick-dots li button {
    width: 10px;
    height: 10px;
  }
  .not-block-main {
    .container {
      max-width: 100%;
    }
  }

  .not-block {
    padding: 30px 100px 30px 100px;
    max-width: 1400px;
    margin: 0 auto;
    &__images {
      img {
        max-width: 163px;
        height: 151px;
      }
    }
    &__descr {
      max-width: 700px;
      font-size: 16px;
      height: 100px;
    }
  }
  
  .banner {
    .container {
      max-width: 1200px;
    }
    &__icons {
      max-width: 300px;
      img {
        width: 127px;
        height: 116px;
      }
    }
    &__descr {
      max-width: 770px;
      font-size: 22px;
    }
  }
  
  .pre-footer {
    .container {
      max-width: 1200px;
    }
    &__geografy {
      img {
        max-width: 500px;
        height: 270px;
      }
      &_descr {
        &-title {
          h2 {
            font-size: 25px;
            margin: 0;
            padding: 0;
          }
          img {
            display: none;
          }
        }
        p {
          font-size: 14px;
          margin-top: 20px;
        }
      }
    }
    &__video {
      max-width: 900px;
      height: 440px;
    }
  }
}